# Environment
.env

.direnv/

# Dependencies
node_modules/

# Build output
dist/
*.js
*.js.map

# Logs
logs/
*.log

# Keep config JS checked in
!eslint.config.js

# Misc
.DS_Store

# Prisma client (generated)
src/generated/prisma/
prisma/migrations.lock/



# Generated test auth tokens
tests/e2e/.auth/
